<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HR</title>
</head>
<body>
    <h1>Welcome!</h1>

    <table>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td><a th:text="${employee.name}" th:href="@{/employee/{id}(id=${employee.id})}"></a></td>
            <td th:text="${employee.job}"></td>
            <td th:text="${employee.salary}"></td>
            <td th:text="${employee.entryDate}"></td>
            <td><a th:text="Delete" th:href="@{/delete/{id}(id=${employee.id})}"></a></td>
        </tr>
    </table><br/>

    <form th:object="${newEmployee}" method="post" th:action="@{/employee}">
        Id: <input th:field="*{id}" /> <br/>
        Name: <input th:field="*{name}" /> <br/>
        Job: <input th:field="*{job}" /> <br/>
        Salary: <input th:field="*{salary}" /> <br/>
        EntryDate: <input th:field="*{entryDate}" /> <br/>
        <input type="submit" value="Create" />
    </form>
</body>
</html>